@{
    ViewData["Title"] = "Home Page";
}
    <h1>Race Schedule For @DateTime.Now.ToString("yyyy") </h1>
<div class="text-center">

    <div id="raceCalBinding" v-cloak>
        <v-toolbar-items>
            <v-btn flat tag="a" href="/">Home</v-btn>
        </v-toolbar-items>

        <v-card class="elevation-12 primary" color="deep-purple lighten-1">
          This is a vue card
        </v-card>


            <!--use v cloak to hide things until its bound properly-->
            <div id="loading" v-if="showLoading">
                <img src="~/img/spinner.gif" />
            </div>
            <div class="row">
                <div class="col-lg-12 marginbottom  text-right">
                    <a asp-controller="Home" asp-action="Add">
                        <button class="btn-primary" style="width:100px">Add Race..</button>
                    </a>
                </div>
            </div>
            <table>
                <thead>
                <th>Track</th>
                <th>Lap Record</th> <!--with driver attached-->
                <th>Pole Time</th> <!--with driver attached-->
                <th>Race Date</th> <!--with driver attached-->
                <th>Race Winner</th> <!--with driver attached-->
                <th>Result</th>
                </thead>
                <tbody>
                    <tr v-for="race in raceData">
                        <td><a>{{race.trackLocation}}</a></td>
                        <td><a>{{race.fastestLapTime}} - {{race.fastestLapDriver}}</a></td>
                        <td><a>{{race.poleTime}} - {{race.poleDriver}}</a></td>
                        <td>{{race.raceDate}}</td>
                        <td><a>{{race.raceWinner}}</a></td>
                        <!--do check here whether to show update button or results button by checking if winner etc if populated-->
                        <td style="text-align:center">
                            <button class="btn-primary" v-if="isUpdate(race)" v-on:click="showResult(race)"><i class="fas fa-flag-checkered"></i></button>
                            <button class="btn-primary" v-if="!isUpdate(race)" v-on:click="showUpdate(race)"><i class="fas fa-edit"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
    </div>


</div>

    <!--this bit here is so we only load in what we need on each page. So this will only load in test vue-->
    <!--but it will also load in whaterver was defined in main, which in this case is the APIConfig-->
    @section scripts
{
        <script>

            require.config({
                baseUrl: "/js"
            });

            require(["VueScripts/raceResults/raceResultScript"],
                function (v) {

                }
            );
        </script>
    }


